{% load static %}

<!-- Application pour lister les postes chez Topensi -->
<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <title>Topensi - {% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>

    <!-- Header -->
    {% include 'layouts/header.html' %}

    <!-- Contenu -->
    <main role="main" class="container mt-5">
        <div class="row">
            <div class="form-group col">
                <label for="client">Ajouter client</label>
                <form action="/add/ajouter_client/" method="post" id="form_client">{% csrf_token %}
                    <input type="text" class="form-control" name="client" id="client"  placeholder="Entrez le client">
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button class="btn btn-primary" form="form_client">Ajouter</button></form>
                        </div>
                    </div>
            </div>
            <div class="form-group col">
                <label for="type">Ajouter type</label>
                <form action="/add/ajouter_type/" method="post" id="form_type">{% csrf_token %}
                    <input type="text" name="type" class="form-control" id="type" placeholder="Entrez le type">
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button type="submit" form="form_type" class="btn btn-primary">Ajouter</button></form>
                        </div>
                    </div>
            </div>
            <div class="form-group col">
                <label for="type">Ajouter partenaire</label>
                <form action="/add/ajouter_partenaire/" method="post" id="form_partnaire">{% csrf_token %}
                    <input type="text" name="partenaire" class="form-control" id="type" placeholder="Entrez le partenaire">
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button type="submit" form="form_partnaire" class="btn btn-primary">Ajouter</button></form>
                        </div>
                    </div>
            </div>
            <div class="form-group col">
                <label for="type">Ajouter l'état</label>
                <form action="/add/ajouter_etat/" method="post" id="form_etat">{% csrf_token %}
                    <input type="text" name="etat" class="form-control" id="type" placeholder="Entrez l'état">
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button type="submit" form="form_etat" class="btn btn-primary ">Ajouter</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
        <div class="row">
            <form action="/add/ajouter_info/" method="post" id="form_info" class="w-100">{% csrf_token %}
                <div class="col">
                    <label for="exampleInputEmail1">Ajouter entrée</label>
                    <div class="form-inline">
                        <select class="custom-select col" name="client">
                            <option selected>Selectionnez le client</option>
                            {% for e in client %}
                                <option value="{{e.nom}}">{{e.nom}}</option>
                            {% endfor %}
                        </select>
                        <select class="custom-select col" name="partenaire">
                            <option selected>Selectionnez le partenaire</option>
                            {% for e in partenaire %}
                                <option value="{{e.nom}}">{{e.nom}}</option>
                            {% endfor %}
                        </select>
                        <select class="custom-select col" name="type">
                            <option selected>Selectionnez le type</option>
                            {% for e in type %}
                                <option value="{{e.nom}}">{{e.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-inline">
                        <input type="number" step="0.01" name="marge" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Marge">
                        <input type="number" step="0.01" name="recurrent" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Récurrent">
                        <select class="custom-select col" name="etat">
                            {% for e in etat %}
                                <option value="{{e.nom}}">{{e.nom}}</option>
                            {% endfor %}
                        </select>
                        <select class="custom-select col" name="facture">
                            <option value="False" selected>Non facturé</option>
                            <option value="True">Facturé</option>
                        </select>
                        <input type="date" name="dateCreation" class="form-control col">
                        <input type="date" name="dateCloture" class="form-control col">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <button form="form_info" class="btn btn-primary">Ajouter l'info</button>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    {% include 'layouts/footer.html' %}