{% load static %}

<!-- Application pour lister les postes chez Topensi -->
<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <title>Topensi - {% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>

    <!-- Header -->
    {% include 'layouts/header.html' %}

    <!-- Contenu -->
    <main role="main" class="container">
        <div class="row">
            <div class="input-group mt-5 col">
                <select class="custom-select" id="client" aria-label="Selectionnez le client">
                  <option selected>Tous les clients</option>
                  {% for cli in client %}
                    <option value="{{cli.nom}}">{{cli.nom}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group mt-5 col">
                <select class="custom-select" id="partenaire" aria-label="Selectionnez le partenaire">
                  <option selected>Tous les partenaires</option>
                  {% for part in partenaire %}
                    <option value="{{part.nom}}">{{part.nom}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group mt-5 col">
                <select class="custom-select" id="type" aria-label="Example select with button addon">
                  <option selected>Tous les types</option>
                  {% for typ in type %}
                    <option value="{{typ.nom}}">{{typ.nom}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group mt-5 col">
                <select class="custom-select" id="etat" aria-label="Example select with button addon">
                  <option selected>Tous les états</option>
                  {% for etat in etat %}
                    <option value="{{etat.nom}}">{{etat.nom}}</option>
                  {% endfor %}
                </select>
              </div>
        </div>
        

        <table class="table table-bordered mt-5">
            <thead><br>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Partenaire</th>
                <th scope="col">Type</th>
                <th scope="col">Marge</th>
                <th scope="col">Récurrent</th>
                <th scope="col">Etat</th>
                <th scope="col">Facture</th>
                <th scope="col">DateCreation</th>
                <th scope="col">DateCloture</th>
              </tr>
            </thead>
            <tbody>
            {% for e in info %}
                <tr>
                {% for cli in client %}
                    {% if cli.id == e.cli_id %}
                        <td class="client_td">{{cli.nom}}</td>
                    {% endif %}
                {% endfor %}
                {% for part in partenaire %}
                    {% if part.id == e.partenaire_id %}
                        <td class="partenaire_td">{{part.nom}}</td>
                    {% endif %}
                {% endfor %}
                {% for typ in type %}
                    {% if typ.id == e.typ_id %}
                        <td class="type_td">{{typ.nom}}</td>
                    {% endif %}
                {% endfor %}
                    <td>{{ e.marge }}</td>
                    <td>{{ e.recurrent }}</td>
                {% for etat in etat %}
                    {% if etat.id == e.etat_id %}
                        <td class="etat_td">{{etat.nom}}</td>
                    {% endif %}
                {% endfor %}
                    <td>{{ e.facture }}</td>
                    <td>{{ e.dateCreation }}</td>
                    <td>{{ e.dateCloture }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </main>

    <!-- Footer -->
    {% include 'layouts/footer.html' %}