{% load static %}

<!-- Application pour lister les postes chez Topensi -->
<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <title>Topensi - {% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>

    <!-- Header -->
    {% include 'layouts/header.html' %}

    <!-- Contenu -->
    <main role="main" style='max-width : 1500px;' class="container">
        <div class="row">
            <div class="mt-5 col input-group">
              <h4>Filtres</h4>
            </div>
          </div>
            <div class="row">
                <div class="input-group mt-2 col">
                    <select class="custom-select" id="client" aria-label="Selectionnez le client">
                      <option value="False" selected>Tous les clients</option>
                      {% for cli in client %}
                        <option value="{{cli.id}}">{{cli.nom}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="input-group mt-2 col">
                    <select class="custom-select" id="partenaire" aria-label="Selectionnez le partenaire">
                      <option value="False" selected>Tous les partenaires</option>
                      {% for part in partenaire %}
                        <option value="{{part.id}}">{{part.nom}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="input-group mt-2 col">
                    <select class="custom-select" id="type" aria-label="Example select with button addon">
                      <option value="False" selected>Tous les types</option>
                      {% for typ in type %}
                        <option value="{{typ.id}}">{{typ.nom}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="input-group mt-2 col">
                    <select class="custom-select" id="etat" aria-label="Example select with button addon">
                      <option value="False" selected>Tous les états</option>
                      {% for etat in etat %}
                        <option value="{{etat.id}}">{{etat.nom}}</option>
                      {% endfor %}
                    </select>
                  </div>
            </div>
            
            <div class="row mt-3">
              <div class="col">
                <h5>Date de création :</h5>
                <div class="form-group mt-2">
                    <label>Début</label>
                    <input type="month" name="dateDebutCreation" id="dateDebutCreation" class="form-control col">
                </div>
                <div class="form-group mt-2">
                    <label>Fin</label>
                    <input type="month" name="dateFinCreation" id="dateFinCreation" class="form-control col">
                </div>
              </div>
              <div class="col">
                <h5>Date de cloture :</h5>
                <div class="form-group mt-2">
                    <label>Début</label>
                    <input type="month" name="dateDebutCloture" id="dateDebutCloture" class="form-control col">
                </div>
                <div class="form-group mt-2">
                    <label>Fin</label>
                    <input type="month" name="dateFinCloture" id="dateFinCloture" class="form-control col">
                </div>
              </div>
            </div>

        <table class="table table-bordered mt-4">
            <thead><br>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Partnaire</th>
                <th scope="col">Type</th>
                <th scope="col">Marge</th>
                <th scope="col">Récurrent</th>
                <th scope="col">Etat</th>
                <th scope="col">Facturé</th>
                <th scope="col">Date création</th>
                <th scope="col">Date cloture</th>
              </tr>
            </thead>
            <tbody>
                {% for e in info %}
                <tr>
                <form method="post" action="/update/delete/" id="form-del{{e.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="info_id" value="{{e.id}}"/>
                    </form>
                <form method="post" action="/update/maj/" id="form-maj{{e.id}}">{% csrf_token %}
                {% for cli in client %}
                    {% if cli.id == e.cli_id %}
                        <td class="client_td">{{cli.nom}}</td>
                    {% endif %}
                {% endfor %}
                {% for part in partenaire %}
                    {% if part.id == e.partenaire_id %}
                        <td class="partenaire_td">{{part.nom}}</td>
                    {% endif %}
                {% endfor %}
                {% for typ in type %}
                    {% if typ.id == e.typ_id %}
                        <td class="type_td">{{typ.nom}}</td>
                    {% endif %}
                {% endfor %}
                    <td>{{ e.marge }}</td>
                    <td>{{ e.recurrent }}</td>
                {% for etat in etat %}
                    {% if etat.id == e.etat_id %}
                        <td class="etat_td">{{etat.nom}}</td>
                    {% endif %}
                {% endfor %}
                    <td>{% if e.facture %}Oui{% else %}Non{% endif %}</td>
                    <td><script>
                        d = new Date("{{e.dateCreation}}")
                        ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
                        mo = new Intl.DateTimeFormat('en', { month: 'short' }).format(d)
                        document.write(`${mo} ${ye}`)
                    </script></td>
                    <td><script>
                        d = new Date("{{e.dateCloture}}")
                        ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
                        mo = new Intl.DateTimeFormat('en', { month: 'short' }).format(d)
                        document.write(`${mo} ${ye}`)
                    </script></td>
                    <td>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" form="form-maj{{e.id}}" class="btn btn-secondary modifier">Modifier</button>
                            </div>
                        </div>
                    </td></form>
                    <td>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" form="form-del{{e.id}}" class="btn btn-danger">Supprimer</button>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
          <script>
    $(".modifier").click(function() {
        id = $(this).attr('form')
        $(this).parent().parent().parent().parent().eq(0).find("td").each(function(x,cpt){
            if(x == 0){
                before = $(this).text()
                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="client"><option>Selectionnez le client</option>{% for e in client %}<option>{{e.nom}}</option>{% endfor %}</select>')
                $(this).find("option").each(function(){
                    if($(this).text() == before){
                        $(this).prop("selected", "selected")
                    }
                })
            } else if(x == 1){
                before = $(this).text()
                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="partenaire"><option>Selectionnez le partenaire</option>{% for e in partenaire %}<option>{{e.nom}}</option>{% endfor %}</select>')
                $(this).find("option").each(function(){
                    if($(this).text() == before){
                        $(this).prop("selected", "selected")
                    }
                })
            } else if(x == 2){
                before = $(this).text()
                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="type"><option>Selectionnez le type</option>{% for e in type %}<option>{{e.nom}}</option>{% endfor %}</select>')
                $(this).find("option").each(function(){
                    if($(this).text() == before){
                        $(this).prop("selected", "selected")
                    }
                })
            } else if(x == 3){
                $(this).html("<input style='width : 100%;' type='text' form='"+id+"' name='marge' value ='"+$(this).text()+"'/>")
            } else if(x == 4){
                $(this).html("<input style='width : 100%;' type='text' form='"+id+"' name='recurrent' value ='"+$(this).text()+"'/>")
            } else if(x == 5){
                before = $(this).text()
                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="etat"><option>Selectionnez état</option>{% for e in etat %}<option>{{e.nom}}</option>{% endfor %}</select>')
                $(this).find("option").each(function(){
                    if($(this).text() == before){
                        $(this).prop("selected", "selected")
                    }
                })
            } else if(x == 6){
                before = $(this).text()
                $(this).html('<select style="width : 100%;"class="custom-select"  form="'+id+'" name="facture"><option>Selectionnez facture</option><option value="True">Oui</option><option value="False">Non</option></select>')
                $(this).find("option").each(function(){
                    if($(this).text() == before){
                        $(this).prop("selected", "selected")
                    }
                })
            } else if(x == 7){
                d = new Date($(this).text())
                ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
                mo = new Intl.DateTimeFormat('en', { month: 'short' }).format(d)
                $(this).html("<input style='width : 100%;' type='month' form='"+id+"' name='datecreation' value ='"+`${ye}-${mo}`+"'/>")    
            } else if(x == 8){
                if($(this).text() != 'Pas encore cloturé'){ 
                    d = new Date($(this).text())
                    ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
                    mo = new Intl.DateTimeFormat('en', { month: 'short' }).format(d)
                    $(this).html("<input style='width : 100%;' type='month' form='"+id+"' name='datecloture' value ='"+`${ye}-${mo}`+"'/>")
                } else {
                    $(this).html("<input style='width : 100%;' type='month' form='"+id+"' name='datecloture' />")
                }
            } else if(x == 9){
                idform = id.replace("form-maj","")
                $(this).html('<input type="hidden" form="'+id+'" name="formid" value="'+idform+'" /> <button type="submit" form="'+id+'" class="btn btn-success mt-2 my-sm-0">Valider</button>')
            }
        })
      });
    </script>
    <div class="container">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>
          $('#type, #client, #partenaire, #etat, #dateDebutCreation, #dateFinCreation, #dateDebutCloture, #dateFinCloture').change(function(){
            type=$("#type").val()
            client=$("#client").val()
            partenaire=$("#partenaire").val()
            etat=$("#etat").val()
            dcreation=$('#dateDebutCreation').val()
            fcreation=$('#dateFinCreation').val()
            dcloture=$('#dateDebutCloture').val()
            fcloture=$('#dateFinCloture').val()
            $.ajax({
              url : '/filter/',
              type : 'POST',
              data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                client : client,
                type: type,
                partenaire: partenaire,
                etat: etat,
                dcreation: dcreation,
                fcreation: fcreation,
                dcloture: dcloture,
                fcloture: fcloture
              },
              success : function(json, statut){
                var json = JSON.parse(JSON.stringify(json))
                $("#list option[value='2']").text()
                $('table').html('<thead><tr><th scope="col">Client</th><th scope="col">Partenaire</th><th scope="col">Type</th><th scope="col">Marge</th><th scope="col">Récurrent</th><th scope="col">Etat</th><th scope="col">Facture</th><th scope="col">DateCreation</th><th scope="col">DateCloture</th></tr>  </thead><tbody></tbody>')
                $('.marge-total').text("0 €")
                $('.recurrent-total').text("0 €")
                if(json.length==0){
                  $('tbody').append("<tr><td colspan='8'>Aucune donnée<td></tr>")
                }
                for (var i=0;i<json.length;++i){
                    ye1 = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(new Date(json[i].fields.dateCreation))
                    mo1 = new Intl.DateTimeFormat('en', { month: 'short' }).format(new Date(json[i].fields.dateCreation))
                    ye2 = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(new Date(json[i].fields.dateCloture))
                    mo2 = new Intl.DateTimeFormat('en', { month: 'short' }).format(new Date(json[i].fields.dateCloture))
                    if(json[i].fields.facture == false){
                      facture = "Non"
                    } else {
                      facture = "Oui"
                    }
                    if(ye2 != '1970'){
                      $('tbody').append('<tr> <form method="post" action="/update/maj/" id="form-maj'+json[i].pk+'">{% csrf_token %}</form><td class="client_td">'+$("#client option[value='"+json[i].fields.cli+"']").text()+'</td> <td class="partenaire_td">'+$("#partenaire option[value='"+json[i].fields.partenaire+"']").text()+'</td> <td class="type_td">'+$("#type option[value='"+json[i].fields.typ+"']").text()+'</td> <td>'+(Math.round(json[i].fields.marge * 100) / 100).toFixed(2)+'</td> <td>'+(Math.round(json[i].fields.recurrent * 10) / 10).toFixed(1)+'</td> <td class="etat_td">'+$("#etat option[value='"+json[i].fields.etat+"']").text()+'</td> <td>'+facture+'</td> <td>'+`${mo1} ${ye1}`+'</td> <td>'+`${mo2} ${ye2}`+'</td> <td> <button type="button" form="form-maj'+json[i].pk+'" class="btn btn-secondary modifier">Modifier</button> </td> <td><button type="submit" form="form-del'+json[i].pk+'" class="btn btn-danger">Supprimer</button> </td> </tr>');
                    } else {
                      $('tbody').append('<tr> <td class="client_td">'+$("#client option[value='"+json[i].fields.cli+"']").text()+'</td> <td class="partenaire_td">'+$("#partenaire option[value='"+json[i].fields.partenaire+"']").text()+'</td> <td class="type_td">'+$("#type option[value='"+json[i].fields.typ+"']").text()+'</td> <td>'+(Math.round(json[i].fields.marge * 100) / 100).toFixed(2)+'</td> <td>'+(Math.round(json[i].fields.recurrent * 10) / 10).toFixed(1)+'</td> <td class="etat_td">'+$("#etat option[value='"+json[i].fields.etat+"']").text()+'</td> <td>'+facture+'</td> <td>'+`${mo1} ${ye1}`+'</td> <td> <button type="button" form="form-maj'+json[i].pk+'" class="btn btn-secondary modifier">Modifier</button> </td> <td><button type="submit" form="form-del'+json[i].pk+'" class="btn btn-danger">Supprimer</button> </td> </tr> </td> <td>Pas encore cloturé</td> </tr>');
                    }
                    $('.marge-total').text((parseInt($('.marge-total').text())+json[i].fields.marge)+" €")
                    $('.recurrent-total').text((parseInt($('.recurrent-total').text())+json[i].fields.recurrent)+" €")
                    $(".modifier").click(function() {
                        id = $(this).attr('form')
                        $(this).parent().parent().parent().parent().eq(0).find("td").each(function(x,cpt){
                            if(x == 0){
                                before = $(this).text()
                                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="client"><option>Selectionnez le client</option>{% for e in client %}<option>{{e.nom}}</option>{% endfor %}</select>')
                                $(this).find("option").each(function(){
                                    if($(this).text() == before){
                                        $(this).prop("selected", "selected")
                                    }
                                })
                            } else if(x == 1){
                                before = $(this).text()
                                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="partenaire"><option>Selectionnez le partenaire</option>{% for e in partenaire %}<option>{{e.nom}}</option>{% endfor %}</select>')
                                $(this).find("option").each(function(){
                                    if($(this).text() == before){
                                        $(this).prop("selected", "selected")
                                    }
                                })
                            } else if(x == 2){
                                before = $(this).text()
                                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="type"><option>Selectionnez le type</option>{% for e in type %}<option>{{e.nom}}</option>{% endfor %}</select>')
                                $(this).find("option").each(function(){
                                    if($(this).text() == before){
                                        $(this).prop("selected", "selected")
                                    }
                                })
                            } else if(x == 3){
                                $(this).html("<input style='width : 100%;' type='text' form='"+id+"' name='marge' value ='"+$(this).text()+"'/>")
                            } else if(x == 4){
                                $(this).html("<input style='width : 100%;' type='text' form='"+id+"' name='recurrent' value ='"+$(this).text()+"'/>")
                            } else if(x == 5){
                                before = $(this).text()
                                $(this).html('<select style="width : 100%;" class="custom-select"  form="'+id+'" name="etat"><option>Selectionnez état</option>{% for e in etat %}<option>{{e.nom}}</option>{% endfor %}</select>')
                                $(this).find("option").each(function(){
                                    if($(this).text() == before){
                                        $(this).prop("selected", "selected")
                                    }
                                })
                            } else if(x == 6){
                                before = $(this).text()
                                $(this).html('<select style="width : 100%;"class="custom-select"  form="'+id+'" name="facture"><option>Selectionnez facture</option><option value="True">Oui</option><option value="False">Non</option></select>')
                                $(this).find("option").each(function(){
                                    if($(this).text() == before){
                                        $(this).prop("selected", "selected")
                                    }
                                })
                            } else if(x == 7){
                                d = new Date($(this).text())
                                ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
                                mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
                                $(this).html("<input style='width : 100%;' type='month' form='"+id+"' name='datecreation' value ='"+`${ye}-${mo}`+"'/>")    
                            } else if(x == 8){
                                if($(this).text() != 'Pas encore cloturé'){ 
                                    d = new Date($(this).text())
                                    ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
                                    mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
                                    $(this).html("<input style='width : 100%;' type='month' form='"+id+"' name='datecloture' value ='"+`${ye}-${mo}`+"'/>")
                                } else {
                                    $(this).html("<input style='width : 100%;' type='month' form='"+id+"' name='datecloture' />")
                                }
                            } else if(x == 9){
                                idform = id.replace("form-maj","")
                                middle = jQuery("[name=csrfmiddlewaretoken]").val()
                                $(this).html('<input type="hidden" form="'+id+'" name="csrfmiddlewaretoken" value="'+middle+'" /><input type="hidden" form="'+id+'" name="formid" value="'+idform+'" /> <button type="submit" form="'+id+'" class="btn btn-success mt-2 my-sm-0">Valider</button>')
                            }
                        })
                    });
                }
    
              },
              error : function(resultat, statut, erreur){
              }
            });
    
          })
        </script>
    </main>
    <!-- Footer -->
    {% include 'layouts/footer.html' %}