{% load static %}

    {% block content %}
    <main role="main" class="container mt-5">
    <div class="row">
        <div class="form-group col">
            <label for="client">Ajouter client</label>
            <form action="/add/ajouter_client/" method="post" id="form_client">{% csrf_token %}
            <div class="form-inline">
                <input type="text" class="form-control col" name="client" id="client"  placeholder="Entrez le client">
                <button class="btn btn-primary" form="form_client">Valider</button></form>
            </div></div>
          <div class="form-group col">
            <label for="type">Ajouter type</label>
            <form action="/add/ajouter_type/" method="post" id="form_type">{% csrf_token %}
            <div class="form-inline">
                <input type="text" name="type" class="form-control col" id="type" placeholder="Entrez le type">
                <button type="submit" form="form_type" class="btn btn-primary">Valider</button></form>
            </div>
          </div>
        </div>
        <div class="row">
        <form action="/add/ajouter_info/" method="post" id="form_info">{% csrf_token %}
          <div class="form-group col">
            <label for="exampleInputEmail1">Ajouter entrée</label>
            <div class="form-inline">
                <select class="custom-select" name="client">
                    <option selected>Selectionnez le client</option>
                    {% for e in client %}
                        <option value="{{e.nom}}">{{e.nom}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="hostname" class="form-control col mx-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom d'hôte">
                <input type="text" name="ip" class="form-control col mx-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse IP">
                <select class="custom-select" name="type">
                    <option selected>Selectionnez le type</option>
                    {% for e in type %}
                        <option value="{{e.nom}}">{{e.nom}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="url" class="form-control col mx-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="URL sous forme https://x/"></form>
            </div>
        </div>
    </div>
    <div class="row">
        <button style="width: 100px; margin: 0 auto; " form="form_info" class="btn btn-primary">Valider</button>

    </div>
    </div>
    </main>
    {% endblock %}
